
<%  if(post?.post_comments){
        let comments = JSON.parse(post.post_comments);

        for(let index in (comments || [])){
            comment = comments[index]; %>
           
            <%- include("comment.template.ejs", {comment, user_id}) %>
<%      }
    }%>
<form class="create-comment" action="/api/comments/create" method="POST" is-processing="0">
    <div>
        <label>Post a comment:</label>
        <p>
            <textarea name="message" placeholder="Create your comment!"></textarea>

            <input type="hidden" name="post_id" value="<%= post.id %>" />
            <button type="submit">Add comment</button>
        </p>
    </div>
    
</form>