{
    "passPerPreset": true,
    "plugins": [
        [
	        "@babel/plugin-proposal-class-properties",
	        {
	        	"regenerator": true
	        }
        ]
    ],
    "presets": [
      "@babel/preset-env"
    ]
}